.item{
    background-color: white;
    width: 80%;
    height: 100%;
    position: relative;
    margin-top: 100px;
    margin-left: 40px;
    position: relative;
}

.box{
    background-color: white;
    width: 80%;
    height: 100%;
    position: relative;
    margin-top: 100px;
    margin-left: 50px;
}

.buttonback{
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    top: 30px;
   
}

.image{
    width: 50%;
    position: relative;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

