$block_display:block;
$flex_display:flex;
$absolute_position: absolute;
$relative_position: relative;
$text_align : center;
$justify-content_center : center;
$justify-content_space-between : space-between;
$half_width: 50%;
$full_width: 100%;
$full_height: 100%;
$white_bg: white;