@import "../../assets/Variables/Variables.scss";

.box{
    display: grid;
    column-gap: normal;
    columns: 3;
    width: $full_width;
    height: 88%;
    background-color: blueviolet;
    position: $absolute_position;
    top:181px;
    bottom: 120px;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid black;
}

.box_footer{
  position: $relative_position;
  height: 23px;
  width: $full_width;
  background-color: aqua;
  margin: 10px;
  display: $block_display;
  padding: 0;
  top:10px;
  left: -10px;
}

.item{
  width: $full_width;
  align-items: center;
  margin: 10px;
  background-color: $white_bg;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.text{
  display: inline;
}

.pagination{
  width: $full_width;
  height: 20px;
  position: $relative_position;
  display: $flex_display;
  flex-direction: row;
  justify-content: flex-end;
}

.buttonsPreAndNext{
    background-color: $white_bg;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: cornflowerblue;
    width: 5em;
    cursor: pointer;
}

.buttonsNumbers{
  color: cornflowerblue;
  background-color: transparent;
  border-radius: 5px;
}

.invalid_input {
  border: 1px solid #b40e0e;
}

.input{
  display: $block_display;
}

.post_title{
  color:'#0984e3'
}

.blog_ids_container{
  display:$flex_display;
  flex-direction:row;
  justify-content: space-evenly;
   background-color: '#00cec9';
}

.ids_div{
  width:$half_width;
}



