@import "../../assets/Variables/Variables.scss";

.login_box{
    display:$flex_display;
    flex-direction: column;
    justify-content:$justify-content_center; 
}

.heading{
    text-align: $text_align;
}

.textFileds{
    display: $block_display;
}

.error_para{
    color: red;
}

.signin_button{
    display: $block_display;
    background-color: '#00b894';
}

.signup_link{
    text-align:$text_align;
    font-size:14px;
}

.alertContainer{
    margin:10%;
    position: $absolute_position;
    top: 350px;
    left:200px;
    right: 0;
    width: $half_width;
}

.form{
    display: $flex_display;
    justify-content: $justify-content_center;
    height: 70vh; 
    width: 50vw;
    position: $absolute_position;
    top: 300px;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    box-shadow: rgba(44, 153, 149, 0.4) 5px 5px, rgba(44, 153, 149, 0.3) 10px 10px, rgba(44, 153, 149, 0.2) 15px 15px, rgba(44, 153, 149, 0.1) 20px 20px, rgba(44, 153, 149, 0.05) 25px 25px;
}
